
.amenities-step-5 {
  max-width: 630px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: rem(16px) 0;

  .amenities-step-5-head {
    margin-bottom: em(32px);
    h1 {
      font-size: rem(32px); 
      margin-block-end: rem(8px);
    }
    span {
      font-size: rem(16px);
      font-family: $font-family-light;
      color: $color-gray; 
    }
  }

  .amenities-step-5-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $padding-sm; 


    .card-select {
      justify-content: space-between;
      padding: 9px 15px;
      &.selected {
        background-color: $color-ultra-light-gray;
        border-width: $border-thin; 
      }
    }

    .card-select__icon-wrapper {
      margin-bottom: 0;
      width: 45px; 
      height: 45px;
    }

    @include for-normal-layout {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
