
.location-step-4 {
  max-width: 630px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .location-step-4-head {
    margin-bottom: em(32px); 

    h1 {
      font-size: $font-size-xl; 
      margin-block-end: rem(8px);
    }
    
    span {
      font-size: rem(18px); 
      font-family: $font-family-light;
      color: $color-gray; 
    }
  }
}
