.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 10px;
    width: 100%;
    font-family: AirbnbCereal-light;
    font-size: 0.875rem;
    background-color: #fff;
    padding: 10px 40px;
    text-align: center;

    p {
        margin: 0;
    }
}