.app-header {
  padding-block-end: 24px;

  .top-row {
    display: none;

    a {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    width: rem(102px);
    height: rem(32px);
  }

.center-row {
  a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 1rem;
    font-family: AirbnbCereal-Medium;
    text-decoration: none; // Optional: removes the underline from links
    transition: background-color 0.3s, color 0.3s; // Smooth transition for background and text color
    color: gray;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.active-link {
      color: black;
    }
  }
}


  .right-row {
    display: flex;
    align-items: center;
    height: 80px;

    >* {
      padding: $padding-lg;
      display: flex;
      align-items: center;
    }

    img {
      width: rem(16px);
      height: rem(16px);
    }
  }

  .filter-row {
    display: flex;

    &.hide-filter {
      display: none;
    }

    &.minimized-filter {
      max-width: 350px;

      .search-container {
        height: 46px;

        .check-in {
          margin: 0;
        }

        .check-out {
          display: none;
        }

        .search-button {
          padding: 10px;
          width: 100%;

          svg {
            margin: auto;
            height: 12px !important;
            width: 12px !important;
          }
        }
      }
    }
  }
}


@media screen and (min-width: $narrow-breakpoint) {
  .app-header {
    .top-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

    }

    &.compact-header {
      .top-row {
        flex-wrap: nowrap;
      }
    }
  }
}


@media screen and (min-width: $narrow-breakpoint) {
  .app-header {
    .center-row {
      display: flex;
      order: 3;
      gap: 35px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }
}

@media screen and (min-width: $normal-breakpoint) {
  .app-header {
    .center-row {
      order: 0;
      width: auto;
    }

    .filter-row {
      height: 64px;
      margin-block-end: 16px;
    }
  }
}