.checkbox-list {
  .checkbox-list-title {
    font-size: rem(16px);
    padding-block-end: 12px;
    padding-block-start: 8px;
  }
  .checkbox-list-items {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include for-narrow-layout {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .checkbox-show-more {
    text-decoration: underline;
    font-size: rem(15px);
  }
}
