.chip-list {
  display: flex;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chip-list-title {
  padding-top: 4px;
  font-size: rem(16px);
  padding-inline: 2px;
  color: $color-dark-gray;
}
