.search-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 850px;
  height: 66px;
  background-color: #ffff;
  border: 1px solid #dddddd;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 1000;

  &.searchFocoused {
    background-color: #ebebeb;
  }

  .search-container div:hover {
    background: hsl(0 0% 94%);
  }

  .search-form {
    width: 100%;
    height: 100%;
    display: flex;

    .input-group {
      display: grid;
      grid-template-columns: 280px 150px 150px 1fr;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-radius: 32px;

      .input-field {
        &:focus {
          border-color: #ff385c;
        }
      }

      .input-label {
        color: black;
        font-size: 12px;
      }

      input {
        border: none;
        outline: none;
        cursor: pointer;

        &:focus {
          border-color: #f9f9f9;
        }

        &[type="number"] {
          -moz-appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }

      .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #ff385c;
        border-radius: 50%;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: darken(#ff385c, 20%);
        }

        svg {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .test {
    position: absolute;
    border-radius: 37px;
  }
  .focused {
    width: 100%;
    height: 100%;
    background: white !important;
    z-index: -1;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  }
  .input-container:has(.focused) {
    border-radius: 37px;
  }
  .unfocused {
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    &:hover {
      z-index: 10000 !important;
      background-color: red;
    }
  }

  .input-container {
    position: relative;
    height: 100%;
    padding: 0 32px;

    .inner-input-container {
      height: 100%;
    }
    .input-label {
      transition: all 0.2s ease;
      color: #717171;
      padding-block-end: 2px;
      font-size: 12px;
      font-family: AirbnbCereal-Light;
      font-weight: 600;
      line-height: 16px;
      text-align: start;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      z-index: 2;
    }

    input {
      background-color: transparent;
    }

    .react-datepicker-wrapper {
      line-height: 16px;
    }

    // &:hover:not(.focused)::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: -3px;
    //   right: -3px;
    //   bottom: 0;
    //   background-color: lightgreen;
    //   z-index: -1;
    //   border-radius: 32px;
    // }

    // &.unfocused {
    //   background-color: transparent;

    //   &:hover {
    //     background-color: rgba(0, 128, 0, 0.1);
    //     /* Slight background color on hover */
    //   }
    // }

    .location-search {
      width: 100%;
      max-width: 284px;
      padding: 0;
      border: none;
      box-shadow: none;
      font-size: 14px;
      line-height: 16px;

      &:focus + .input-label,
      &:not(:placeholder-shown) + .input-label {
        top: 4px;
        font-size: 14px;
      }
    }
  }

  .date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

    & > * {
      border-left: 1px solid rgb(221, 221, 221);
    }

    // .input-container {
    //   position: relative;
    //   width: 100%;
    //   max-width: 140.5px;
    //   padding: 0 24px;

    //   &.focused {
    //     background-color: #ffff;
    //     padding: 15px 32px;
    //     border-radius: 32px;
    //   }

    //   &.unfocused {
    //     padding: 14px 32px;
    //   }

    //   .input-label {
    //     font-size: 12px;
    //     color: black;
    //     background-color: transparent;
    //     font-weight: bold;
    //     transition: all 0.2s ease-in-out;
    //     pointer-events: none;
    //     padding-block-end: 2px;
    //   }

    //   .react-datepicker-wrapper {
    //     width: 100%;
    //     font-size: 0.5rem;
    //     line-height: 16px;

    //     input {
    //       width: 100%;
    //       border-radius: 32px;
    //       font-size: 14px;
    //       outline: none;
    //       padding: 0;
    //       background-color: transparent;

    //       &:focus {
    //         border-color: #ff385c;
    //       }

    //       &:focus + .input-label,
    //       &:not(:placeholder-shown) + .input-label {
    //         top: -20px;
    //         font-size: 10px;
    //         color: #ff385c;
    //       }
    //     }
    //   }
    // }
  }

  .guest-input-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-left: 1px solid rgb(221, 221, 221);
    padding: 0 10px 0 24px;

    &.focused {
      background-color: #ffff;
      padding: 8px 10px 8px 24px;
      // border-radius: 32px;
    }

    &.unfocused {
      // background-color: red;
    }

    // &:focus-within .input-label,
    // &:not(:placeholder-shown) .input-label {
    //   background: white;
    //   font-size: 12px;
    //   transition: top 0.2s ease, font-size 0.2s ease;
    //   z-index: 2;
    // }

    .add-guests {
      border-radius: 32px;
      border: 1px solid #ddd;
      font-size: 14px;
      outline: none;
      background: transparent;
      padding: 0;

      &:focus {
        border-color: #ff385c;
      }

      // &:focus+.input-label,
      // &:not(:placeholder-shown)+.input-label {
      //   top: -11px;
      //   font-size: 12px;
      //   color: #826e6e;
      //   line-height: 16px;
      // }
    }

    .add-guests-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .input-label {
      line-height: 16px;
      font-family: AirbnbCereal-Light;
      font-weight: 600;
      font-size: 14px;
      pointer-events: none;
      transition: top 0.2s ease, font-size 0.2s ease;
      background-color: transparent;
    }

    .guest-picker-dropdown {
      position: relative;
      top: calc(100% + 10px);
      left: 25%;
      transform: translateX(-50%);
      z-index: 3;
    }
  }
}

