.filter-container {
  width: 100%;
  max-width: 850px;
  height: 66px;
  margin: auto;
  border: 1px solid #dddddd;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffff;
  border-radius: 32px;

  &.focused {
    background-color: rgb(215, 215, 215);

  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &>* {
      line-height: 16px;
    }

    &>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 16px 10px 16px 32px;

      &.focused {
        background-color: white;
        z-index: 5;

        &:before {
          width: 100px;
          height: 16px;
          content: "";
          background-color: red;
        }

        &.location-input {
          border-radius: 32px 0 0 32px;
        }

        &:not(.location-input) {
          border-radius: 32px;

          &~div {
            border-left: none;
          }

        }
      }

      // &:not(.focused) ~ div {
      //   &:hover {
      //     background-color: green;
      //   }
      // }
    }

    &>div:not(.location-input) {
      padding-inline-start: 16px;
    }

    label {
      font-family: AirbnbCereal-Book;
      font-size: rem(12px);
      font-weight: 600;
      padding-block-end: 2px;
      color: #4e4e4e;
    }

    input,
    select {
      font-family: AirbnbCereal-Light;
      font-size: 0.875rem;
      border: none;
      padding: 0;
      background-color: transparent;

      &::placeholder {
        color: rgb(147, 145, 145);
      }

      &:focus {
        outline: none;
      }
    }

    select {
      appearance: none;
      color: rgb(147, 145, 145);
      width: 100% !important;
    }

    .location-input,
    .guest-input {
      flex: 2;
    }

    .checkin-input,
    .checkout-input {
      flex: 1;
      padding-inline-start: 22px !important;

      input {
        max-width: 90.5px;
      }
    }

    .location-input {
      padding-inline-end: 10px !important;
    }

    .checkin-input {
      border-left: 1px solid #dddddd;
    }

    .checkout-input {
      border-left: 1px solid #dddddd;
    }

    .guest-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-left: 1px solid #dddddd;

      &>* {
        line-height: 18px;
      }

      div {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff385c;
        width: 48px;
        height: 48px;
        border-radius: 50%;

        svg {
          display: block;
          fill: none;
          height: 16px;
          width: 16px;
          stroke: #ffff;
          stroke-width: 4;
        }
      }
    }
  }
}

