.price-range {
  position: relative;
  width: 100%;
  max-width: 768px;
  padding: 20px;
  font-family: "Arial", sans-serif;
  .histogram {
    margin:0 10px;
    display: grid;
    column-gap: 1px;
    contain: paint;
    grid-auto-flow: column;
    height: 61.7969px;
    align-items: flex-end;

    .bar {
      background-color: rgb(34, 34, 34);
      border-radius: 0;
      color: rgb(34, 34, 34);
      display: block;
      font-size: 14px;
      line-height: 20.02px;
      width: em(20px);
    }
  }
.price-range-slider {
  display: grid;
  gap: 48px;
}
  


 
}
