.search-container {
  display: flex;
  width: 650px;
  height: 60px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px hsl(0, 0%, 78%);
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;

  .search-container div:hover{
    background:hsl(0 0% 94%);
  }
  .search-form {
    width: 100%;

    .input-group {
      display: flex;
      justify-content: space-between;
      background: white;

      input {
        border: none;
        padding: 10px;
        margin: 0;

        &:focus {
          border-color: #ff385c;
          outline: none;
        }

        &[type='number'] {
          -moz-appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }

      .separator {
        background-color: #ddd;
        width: 1px;
        height: 32px;
        margin: 0 10px;
      }
      .check-in, .check-out, .add-guests{
        width:22%;
      }

      ::placeholder{
        font-size:0.75rem;
      }
      .add-guests span{
        position:absolute;
        top:50%;
        right:10px;
        transform:translateY(-50%);
        background:#FF385C;
        color:white;
        font-size:0.8rem;
        padding:0.7rem;
        border-radius:50%;
      }
      .search-button {
        background-color: #ff385c;
        border: none;
        padding: 15px;
        border-radius: 50%;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: darken(#ff385c, 20%);
        }

        svg {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
