.main-layout {
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr minmax(80px, auto);
    grid-template-rows: auto 1fr minmax(80px, auto);
    padding-inline: 20px;

    >* {
        grid-column: 2;

        &:not(.app-header) {
            grid-row: 2;
        }

        &.app-header {
            grid-row: 1;
        }

        &.app-footer {
            grid-row: 3;
        }

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        padding-inline: 20px;
        // grid-template-columns:
        //     minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        padding-inline: 40px;
        // grid-template-columns:
        //     minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        // padding-inline: 80px;
        // grid-template-columns:
        //     minmax(40px, 1fr) minmax(auto, 2400px) minmax(40px, 1fr);
    }
}