.search-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 850px;
  height: 66px;
  background-color: #ffff;
  border: 1px solid #dddddd;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: auto;
  z-index: 1000;

  &.searchFocoused {
    background-color: #ebebeb;
  }

  .search-container div:hover {
    background: hsl(0 0% 94%);
  }

  .search-form {
    width: 100%;
    height: 100%;
    display: flex;


    .search-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .input-group {
      display: grid;
      grid-template-columns: 280px 150px 150px 280px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-radius: 32px;

      .input-field {
        &:focus {
          border-color: #ff385c;
        }
      }

      input {
        border: none;
        outline: none;
        cursor: pointer;
        color: #717171;


        &:focus {
          border-color: #f9f9f9;
        }

        &[type="number"] {
          -moz-appearance: textfield;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }

      .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 8px 16px;
        height: 48px;
        background-color: #ff385c;
        border-radius: 50px;
        margin-left: 36px;
        color: white;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: darken(#ff385c, 20%);
        }

        &:focus {
          background-color: #e12e55;
        }

        svg {
          display: block;
          height: 24px;
          width: 24px;
        }

        .search-label {
          display: block;
          font-size: 16px;
          font-weight: bold;
        }
      }

      .calendar-picker {
        position: absolute;
        z-index: 100;
        top: 75px;
        border-radius: 48px;
        box-shadow: rgba(0, 0, 0, 0.448) 0px 3px 12px 0px;
        
        table {
          &.current-month {
            background-color: white;
            border-radius: 48px 0 0 48px;
            padding-inline-start: 15px;
          }

          &.next-month {
            background-color: white;
            border-radius: 0 48px 48px 0;
            padding-inline-end: 15px;
          }
        }
      }
    }
  }

  .test {
    position: absolute;
    border-radius: 37px;

    &:hover {
      border-color: #f9f9f9;
    }
  }

  .focused {
    width: 100%;
    height: 100%;
    background: white !important;
    z-index: -1;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  }

  .input-container:has(.focused) {
    border-radius: 37px;
  }

  .unfocused {
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;

    &:hover {
      z-index: 10000 !important;
      background-color: rgb(241, 238, 238);
    }
  }

  .check-out-container,
  .guest-box-container,
  .check-in-container {
    position: relative;
  }

  .check-out-container::before,
  .guest-box-container::before,
  .check-in-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    /* Adjust to position vertically */
    height: 50%;
    /* Adjust to change the border height */
    width: 1px;
    background-color: rgb(221, 221, 221);
  }

  .input-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 32px;
    display: flex;
    justify-content: start;
    align-items: center;


    .checkIn-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .checkOut-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }


    .input-label {
      //this is the label
      transition: all 0.2s ease;
      // color: #717171;
      padding-block-end: 2px;
      margin-bottom: 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      text-align: start;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      z-index: 2;
    }
    .label-dates {
      font-size: 14px;
      color: rgb(106, 106, 106);
    }    
    .label-dates-selected {
      font-size: 14px;
      color: rgb(0, 0, 0);
    }
    input {
      background-color: transparent;
    }

    .react-datepicker-wrapper {
      line-height: 16px;
    }

    .location-search {
      width: 100%;
      max-width: 284px;
      padding: 0;
      border: none;
      box-shadow: none;
      font-size: 14px;
      line-height: 16px;

      &:focus+.input-label,
      &:not(:placeholder-shown)+.input-label {
        top: 4px;
        font-size: 14px;
      }
    }
  }

  .date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

    &>* {
      border-left: 1px solid rgb(221, 221, 221);
    }

  }

  .guest-box {
    display: flex;
    align-items: center;
    align-self: center;
    margin-right: auto;
  }

  .guest-input-container {
    display: flex;
    // border-left: 1px solid rgb(221, 221, 221);
    flex-direction: column;

    &.focused {
      background-color: #ffff;
      // padding: 8px 10px 8px 24px;
      border-radius: 37px;
    }

    &.unfocused {
      background-color: red;
    }

    .add-guests {
      border-radius: 4px;
      border: 1px solid #ddd;
      font-size: 14px;
      outline: none;
      background: transparent;
      padding: 0;

      &:focus {
        border-color: #ff385c;
      }
    }

    .add-guests-container {
      display: flex;
      flex-direction: column;
      padding: 0 32px 0 0;
      // justify-content: center;
    }

    // .input-label {
    //   line-height: 16px;
    //   font-family: AirbnbCereal-Light;
    //   font-weight: bold;
    //   font-size: 12px;
    //   pointer-events: none;
    //   transition: top 0.2s ease, font-size 0.2s ease;
    //   background-color: transparent;
    // }

    .guest-picker-dropdown {
      position: relative;
      top: calc(100% + 10px);
      left: 25%;
      transform: translateX(-50%);
      z-index: 3;
    }
  }
}