.stays-index-category-bar {
    display: grid;
    grid-template-columns: 1fr;
    padding-block-start: 30px;
    padding-inline: 10px;
    gap: 16px;
    align-items: center;
    grid-auto-flow: column;
    background-color: white;
}