.app-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .footer-left p {
    margin: 0;
    padding-right: 10px;
  }
  
  .footer-left a,
  .footer-right a {
    text-decoration: none;
    color: #717171;
    margin: 0 5px;
  }
  
  .footer-right a span {
    margin-left: 5px;
  }
  
  .footer-left a:hover,
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  .footer-right a span[role="img"] {
    margin-right: 5px;
  }
  