.calender-picker-absolute {
    @extend .calendar-picker;
    display: flex;
    justify-content: space-between;
    width: 848px;
    height: 445px;
    padding: 16px 32px 16px 32px;
    top: calc(100% + 10px); // Adjust the top offset as needed
    left: calc(100% - 430px);
    background-color: white;
}
